@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        overflow:overlay
    }
    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        display: none;
    }

    ::-webkit-scrollbar-thumb {
        background: #fff;
        border-radius: 99999px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

@layer components {
    .btn-primary {
        @apply rounded-sm bg-gray-700 text-white transition duration-300 hover:bg-gray-800 hover:text-white focus:bg-gray-800 focus:text-white
    }
    .content-layout {
        @apply mx-auto flex min-h-[calc(100vh-104px)] items-center justify-center justify-items-center py-2
    }
}



