@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

@layer base {
    body {
        overflow:overlay;
        min-height: 100vh;
        font-family: "Open Sans", sans-serif;
    }
    ::-webkit-scrollbar {
        width: 14px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        border: 3.5px solid transparent;
        background: #000829;
        border-radius: 99999px;
        background-clip: padding-box;
    }
}

@layer components {
    .btn-primary {
        @apply rounded-sm bg-gray-700 text-white transition duration-300 hover:bg-gray-800 hover:text-white focus:bg-gray-800 focus:text-white
    }
    .content-layout {
        @apply mx-auto flex min-h-[calc(100vh-104px)] items-center justify-center justify-items-center py-2
    }
}



